* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face{
font-family: 'CormorantGaramond-light', url("../fonts/CormorantGaramond-Light.ttf");
font-family: 'CormorantGaramond-Regular', url("../fonts/CormorantGaramond-Regular.ttf");
font-family: 'Simple Monologue DEMO', url("../fonts/SimpleMonologueDEMO.ttf");
}

header{
   display: inline-flex;
}

h1{
  font-family: 'Simple Monologue DEMO' ; 
  padding: 15px;
  width: 100%;
  
  
}

p{
   font-family: 'CormorantGaramond-Regular';
   font-size: 1rem;
   text-align: center;
   margin: auto;
}

h2{
   font-family: 'Simple Monologue DEMO';
   font-size: 1.6rem;
   text-align: center;
   padding-top: 15px;    
}

#black{
   font-family: 'CormorantGaramond-Regular';
   font-size: 1rem;
    padding: 6px;
   text-align: center;
   border: 1px solid #000000;
   color: #ffffff;
   background-color: #000000; 

}

#green{
   font-family: 'CormorantGaramond-Regular';
   font-size: 1rem;
    padding: 6px;
   text-align: center;
   border: 1px solid #84a175;
   color: #ffffff;
   background-color: #84a175; 
}

#gray{
   font-family: 'CormorantGaramond-Regular';
   font-size: 1rem;
    padding: 6px;
   text-align: center;
   border: 1px solid #7a7a7a;
   color: #ffffff;
   background-color: #7a7a7a;     
}
#white{
   font-family: 'CormorantGaramond-Regular';
   font-size: 1rem;
   text-align: center;
   border: 1px solid #000000;
   padding: 6px;
   color: #000000;
   background-color: #ffffff;     
} 

#black:hover{
   font-size: 1.4rem;
}

#green:hover{
   font-size: 1.4rem;
}

#gray:hover{
    font-size: 1.4rem;  
}

#white:hover{
    font-size: 1.4rem;
}

h3{
   font-family: 'Simple Monologue DEMO';
   font-size: 1.2rem;
   text-align: center;    
}
#headerfont{
   font-family: 'Simple Monologue DEMO'; 
   font-size: 1.7rem;
}
#subhead{
   font-family: 'CormorantGaramond-Light'; 
    font-size: 1rem;
}

#paragraph{
   font-family: 'CormorantGaramond-Regular';
   font-size: 1rem;
   text-align: center;
    
}

#paragraph:first-letter{
   font-size:1.7rem;
}

#link{
    
    color: #84a145;
}

#link:hover{
    text-decoration: underline;
    color: #7a7a7a;
}
ul{
    padding-top: 15px;
}
li {
   font-family: 'CormorantGaramond-Regular' ;
   font-size: 0.9rem; 
    text-align: center;
    padding: 4px;
    list-style-type: none;
}
#logo{
    width: 200px;
    height: 200px;
    padding: 20px;
}

#knit{
    width: 100%;
    height: 240px;
    border: 1px solid #000000; 
}
#gingham{
    width: 100%;
    height: 250px;
    border: 1px solid #000000; 
}

#leather{
    width: 100%;
    height: 250px;
    border: 1px solid #000000; 
}

aside{
   margin: auto; 
    
}

footer{
    width: 100%;
}
#button1{
   border: 10px solid #84a175;
   color: #ffffff;
   background-color: #84a175;
   border-radius: 15px;  
   text-align: center;
    
}

#button2{
  border: 10px solid #7a7a7a;
  color: #ffffff ;
  background-color: #7a7a7a;
  border-radius: 15px; 
  text-align: center;
    
}

@media (min-width: 470px){
    h1{
        text-align: right;
        width: 100%;
    }
    section{
        width: 50%;
        margin: auto;    
    } 
    article{
        width: 70%;
        margin: auto;
    }
    aside{
        padding-top: 30px;
        width: 70%;
    } 
    ul{
        padding: 0px;
    }
    footer{
        width: 300px;
        height: 100px;
        margin: auto;
    }

}

@media (min-width: 700px){
    body{
        width: 100%;
        height: 100%;
    }
    
    #black{
        width: 300px;
        height: 40px;
        
}

    #green{
        width: 300px;
        height: 40px;
        
}

    #gray{
        width: 300px;
        height: 40px;
        
}

    #white{
        width: 300px;
        height: 40px;
        
}
   #fonts{
        margin: auto;
        width: 400px;
        float: left;
        height: 100%;
        
    }
    
    ul{
        
        clear 
        width: 200px;
        
    }
    aside {
        width: 100%;
        padding-top: 30px;
      
    }
    aside p{
        padding-top: 15px;
        
    }
    
    footer{
        display: inline-flex;
        width: 100%;
        
    }
    #button1{
        width: 50%;
    }
    #button2{
        width: 50%;
    }
}

@media (min-width: 900px){
    
    
   #colors li {
        display: inline;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
       margin-top: 30px;
        
        
    }
    h1{
        font-size: 2.6rem;
        margin: auto;
    }
    h2{
        padding-bottom: 20px;
    }
    #colors{
       width: 100%;
       margin: auto;
    }

    
    #knit, #gingham, #leather{
        display: inline;
        width: 200px;
        height: 200px;
    }
    #fonts{
        padding-left: 50px;
    }
    
    h3{
        font-size: 1.7rem;
    }
    
    ul li {
        font-size: 1.4rem;
    }
    
    #button1, #button2{
        margin-top: 45px;
        width: 300px;
        padding: 5px;
    }
    footer{
        margin-bottom: 3%;
    
    }
}