* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face{
font-family: 'CormorantGaramond-light', url("../fonts/CormorantGaramond-Light.ttf");
font-family: 'CormorantGaramond-Regular', url("../fonts/CormorantGaramond-Regular.ttf");
font-family: 'Simple Monologue DEMO', url("../fonts/SimpleMonologueDEMO.ttf");
}

header{
   display: inline-flex;
}

h1{
  font-family: 'Simple Monologue DEMO' ; 
  padding: 15px;
  width: 100%;
  
  
}

p{
    
}

#logo{
    width: 200px;
    height: 200px;
    padding: 20px;
}

section{
    
    
}

article{
    
}

aside{
    
    
}

#button1{
    
    
}

#button2{
    
    
}